<% title "New Client" %>
<% @client.password = @client.password_confirmation = nil %>

<div class="edit_form_container">
  <%= error_messages_for :client %>
  <% form_for :client, :url => admin_clients_path do |f| -%>
  <div class="form_row">
    <%= label_tag 'login' %>
    <%= f.text_field :login %>
  </div>

  <div class="form_row">
    <%= label_tag 'name' %>
    <%= f.text_field :name %>
  </div>

  <div class="form_row">
    <%= label_tag 'email' %>
    <%= f.text_field :email %>
  </div>

  <div class="form_row">
    <%= label_tag 'password' %>
    <%= f.password_field :password %>
  </div>

  <div class="form_row">
    <%= label_tag 'password_confirmation', 'Confirm Password' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form_row"><%= submit_tag 'Create' %></div>
  <% end -%>
</div>
