<div class="edit_form_container">
<% form_for [:admin, @user] do |f| %>
  <%= f.error_messages %>
  
  <div class="form_row">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div>
  <div class="form_row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form_row">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form_row">
    <label for="projects">Projects</label>
    <div class="left">
      <%- for project in Project.all -%>
      <div class="main_category">
        <div>
          <%= check_box_tag "user[project_ids][]", "#{project.id}",
                            @user.projects.include?(project) %> <%=h project.title %>
        </div>
      </div>
      <%- end -%>
    </div>
    <div class="clear_fix"></div>
  </div>
  <div class="form_row">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="form_row">
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form_row"><%= f.submit "Submit" %></div>
<% end %>
</div>
